{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load tz %}
{% load custom_filters %}

{% load cache %}

<!--{% cache 30 title %}-->

<style>
    body {background-color: {% if current_time.hour >= 21 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
</style>
<H1> {{ current_time.hour }} </H1>

{% block title %}
    News
{% endblock title %}
{% endcache %}

{% block content %}
    <p>&nbsp;</p>
    <h6 align='right'>{% trans "Number of news per page:" %} {{news|length}}</h6>
    <h2>{% trans "All news" %}</h2>
    <hr>

    {% if news %}
        <table align='center' border="0" cellspacing="0">
           {% for new in news %}
                <tr align="left">
                    <td><a href="{{ new.get_absolute_url }}"> {{ new.post_title|makegoodwords}} </a></td>
                    <td>{{ new.post_create_datetime|date:'d M Y' }}</td>
<!--                    <td>{{ new.post_text}}</td>-->
                    <td>{{ new.post_text|truncatechars:20|makegoodwords }}</td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <h3>{% trans "There are no news on this site!" %}</h3>
        <h1>:(</h1>

    {% endif %}

    <hr>
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}


   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

    <p><strong>&nbsp;</strong></p>
<!--    {% trans "Check out my new cool translation" %}-->

{% endblock content %}