
{% extends 'flatpages/default.html' %}

{% load i18n %}

{% block content %}
<h2> {% trans "Sign in" %} </h2>
<hr>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table align="center">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
{% trans "Sign In" as trans_var %}
<input type="submit" value=trans_var>
</form>
<button> <a href="/sign/signup"> {% trans "Registration" %} </a></button>
{% endblock %}